<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js"></script> <!-- 外部スクリプトを参照 -->
</head>
<body>
    <header>
        <!-- ハンバーガーメニュー -->
        <nav class="navbar">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('storage') }}">Storage</a></li>
                <li><a href="{{ url_for('setting') }}">Settings</a></li>
                <li><a href="{{ url_for('help') }}">Help-- </a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='static/script.js') }}"></script>
</body>
</html>
